@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
:root {
    background-color: yellow;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding: 0;
    --largefont: 20px;
    --largerfont: 25px;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    max-width: 100vh;
    justify-content: center;
}

.gameboard {
    aspect-ratio: 1/1;
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(3, minmax(70px, 1fr));
    box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
    
}

.gameboard > div {
    display: flex;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 45px;
    font-weight: bold;
    min-width: 90px;
    min-height: 90px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: whitesmoke;
    padding: 20px;
    width: 100%;
}

.modal {
    background-color: whitesmoke;
    padding: 40px 20px;
    border-radius: 12px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    z-index: 10;
    width: 300px;
    max-width: 80%;
    align-self: center;
    margin: 0;
    font-weight: 600;
    font-size: 35px;
    text-align: center;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    background-color: rgba(13, 13, 12, 0.5);
    pointer-events: none;
}

#restartBtn {
    margin-top: 90px;
    font-size: 28px;
    color: white;
    padding: 16px;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 0, 0, 0.761);
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
}

a {
    text-decoration: none;
    color:black;
}